IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.box{margin:0px auto;WIDTH: 416px; HEIGHT: 260px;}

#newsSlider {
	POSITION: absolute; WIDTH: 416px; HEIGHT: 243px;  CLEAR: both;
}
* HTML #newsSlider {
	POSITION: absolute; WIDTH: 416px; HEIGHT: 243px;  CLEAR: both; 
}

/*Download by http://sc.xueit.com*/
#newsSlider .container {
	POSITION: relative; MARGIN-TOP: 15px; WIDTH: 416px; HEIGHT: 243px; OVERFLOW: hidden
}
#newsSlider .container IMG {
	WIDTH: 416px; HEIGHT: 243px
}
#newsSlider DIV.slides {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
#newsSlider UL.slides {
	POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px
}
#newsSlider UL.slides DL {
	WIDTH: 584px; FLOAT: left; HEIGHT: 43px; PADDING-TOP: 3px
}
#newsSlider UL.slides DT {
	LINE-HEIGHT: 18px; WIDTH: 400px; FLOAT: left; HEIGHT: 39px; COLOR: #777777; MARGIN-LEFT: 3px
}
#newsSlider UL.slides DT A {
	COLOR: #777777; FONT-SIZE: 12px
}
#newsSlider UL.slides DD {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; WIDTH: 180px; FONT-FAMILY: "黑体"; FLOAT: left; HEIGHT: 39px; COLOR: #333333; FONT-SIZE: 16px
}
#newsSlider UL.slides DD A {
	FONT-FAMILY: "黑体"; COLOR: #333; FONT-SIZE: 16px; TEXT-DECORATION: none
}
#newsSlider UL.slides DD .more {
	MARGIN-TOP: -22px; WIDTH: 54px; FLOAT: right; HEIGHT: 16px; COLOR: #2a609f; FONT-SIZE: 12px; OVERFLOW: hidden
}
#newsSlider UL.slides DD .more A {
	COLOR: #2a609f
}
#newsSlider DIV.slides DIV {
	POSITION: absolute; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 584px; PADDING-RIGHT: 0px; DISPLAY: none; TOP: 0px; PADDING-TOP: 0px
}
#newsSlider #loopedSlider {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 416px; CLEAR: both
}

#newsSlider UL.pagination {
	POSITION: absolute; BOTTOM: -40px; RIGHT: -5px; _bottom: -25px
}
#newsSlider UL.pagination LI {
	TEXT-ALIGN: center; WIDTH: 34px; FLOAT: left; HEIGHT: 60px; MARGIN-RIGHT: 5px
}
#newsSlider UL.pagination LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 34px; FONT-FAMILY: "宋体"; BACKGROUND: url(../images/btn-blue.png) no-repeat right bottom; FLOAT: left; HEIGHT: 22px; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 2px; TEXT-DECORATION: none; PADDING-TOP: 13px
}
#newsSlider UL.pagination LI.active A {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 34px; FONT-FAMILY: "宋体"; BACKGROUND: url(../images/btn-green.png) no-repeat right bottom; FLOAT: left; HEIGHT: 30px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 2px; TEXT-DECORATION: none; PADDING-TOP: 5px
}
UL.pagination LI A:hover {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; WIDTH: 34px; FONT-FAMILY: "宋体"; BACKGROUND: url(../images/btn-green.png) no-repeat right bottom; FLOAT: left; HEIGHT: 35px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 2px; TEXT-DECORATION: none
}
* HTML #newsSlider UL.pagination LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 34px; FONT-FAMILY: "宋体"; BACKGROUND: url(../images/btn-blue.gif) no-repeat right bottom; FLOAT: left; HEIGHT: 22px; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 2px; TEXT-DECORATION: none; PADDING-TOP: 13px
}
* HTML #newsSlider UL.pagination LI.active A {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 34px; FONT-FAMILY: "宋体"; BACKGROUND: url(../images/btn-green.gif) no-repeat right bottom; FLOAT: left; HEIGHT: 30px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 2px; TEXT-DECORATION: none; PADDING-TOP: 5px
}
* HTML UL.pagination LI A:hover {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; WIDTH: 34px; FONT-FAMILY: "宋体"; BACKGROUND: url(../images/btn-green.gif) no-repeat right bottom; FLOAT: left; HEIGHT: 35px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 2px; TEXT-DECORATION: none
}
ul{ list-style:none;}